.layout_padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.service_section .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.service_section .row {
    padding-bottom: 25px;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.heading_container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.heading_container h2 {
    padding-top: 25px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.heading_container.heading_center h2::before {
    left: 50%;
    transform: translateX(-50%);
}

.heading_container h2::before {
    content: "";
    width: 40px;
    height: 7px;
    background-color: #8eb83a;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn {
    transition: .5s;
}

.service-item-top {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    min-width: 450px;
    transition: .5s;
    /* cursor: pointer; */
}

.service-item-top img {
    padding: 10px;
    transition: .5s;
    /* cursor: pointer;+- */
}

.service-item-top:hover {
    transform: scale(1.1);
}

.text-truncate {
    overflow: visible;
    /* cursor: pointer; */
}

.custom-btn {
    /* background-color: #1e3557; */
    color: #1e3557;
    border: 2px solid #1e3557;
    transition: all .5s;
}

.custom-btn:hover {
    color: #fff;
    background-color: #1e3557;
    border: 2px solid #1e3557;
}

.img-box {
    height: 200px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.list-group li {
    cursor: pointer;
    transition: all 0.3s;
}

.list-group li:hover {
    color: #1f53a1;
    /* Cambia el color de texto al pasar el cursor sobre el elemento */
}

@media (max-width: 768px) {
    .layout_padding {
        padding-top: 0;
    }

    .service-item-top {
        min-width: 317px;
        max-width: 317px;
    }
}

/* RESPONSIVE */
@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .hero_area {
        min-height: auto;
    }

    .navbar-nav {
        align-items: center;
    }

    .custom_nav-container .navbar-toggler {
        margin-bottom: 15px;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 10px 25px;
        margin: 5px 0;
    }

    .custom_nav-container.navbar-expand-lg .form-inline {
        justify-content: center;
    }

    .custom_nav-container.navbar-expand-lg {
        padding-top: 10px;
        align-items: center;
    }

    .slider_section {
        padding: 45px 0 150px 0;
    }

    .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .slider_section ol.carousel-indicators {
        justify-content: center;
    }

    .slider_section {
        text-align: center;
    }

    .slider_section .img-box {
        margin-top: 35px;
    }

    .slider_section .detail-box .btn-box {
        justify-content: center;
        flex-wrap: wrap;
    }

    .about_section .heading_container {
        margin-bottom: 0;
    }

    .about_section .row {
        flex-direction: column-reverse;
    }

    .about_section .detail-box {
        margin-left: 0;
        width: 100%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    }

    .service_section .service_container {
        flex-wrap: wrap;
    }

    .client_section .carousel_btn-box {
        margin-top: 25px;
    }

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        transform: none;
        margin: 0 2.5px;
    }

    .info_section .row .col-md-3 {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .info_section .info_logo {
        align-items: center;
    }

    .info_section .info_form .social_box {
        justify-content: center;
    }

    .info_section .info_form .social_box a {
        margin: 0 5px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-right: 20px;
}

li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1f53a1;
    transition: width 0.9s ease;
}

li:hover::before {
    width: 100%;
}

@media (max-width: 576px) {
    .header_top a span {
        display: none;
    }

    .slider_section .detail-box h1 {
        font-size: 2.5rem;
        line-height: 55px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

