<section [@fadeAnimation] = "true" class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>INFRAESTRUCTURA, URBANIZACIÓN Y CAMPOS DEPORTIVOS</h2>
      </div>
      <p class="long_text">
        <span></span>
        Nuestro compromiso con la excelencia se refleja en cada fase de desarrollo. Desde el diseño conceptual hasta la
        ejecución meticulosa, nuestro equipo de expertos trabaja en colaboración contigo para materializar tus ideas y
        transformar espacios. Cada detalle cuenta, y cada proyecto es una expresión única de innovación, calidad y
        funcionalidad.
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="pinosImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                BLVD LOS PINOS CSL
              </h2>
            </div>
            <h1 class="game_text">

            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="centroHistoricoImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                CENTRO HISTÓRICO SJD
              </h2>
            </div>
            <h1 class="game_text">

            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="hidalgoImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                BLVD HIDALGO
              </h2>
            </div>
            <h1 class="game_text">
              Cabo San Lucas, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="leonaVicarioImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                BLVD LEONA VICARIO
              </h2>
            </div>
            <h1 class="game_text">
              Cabos San Lucas , BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="pinosImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                BLVD CONSTITUYENTES
              </h2>
            </div>
            <h1 class="game_text">
              Cabo San Lucas, BCS
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
