<section class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>HOTELERÍA & TIEMPO COMPARTIDO</h2>
      </div>
      <p class="long_text">
        <span></span>
        Confía en DOI para llevar tu visión más allá de las expectativas.
        Construimos hoy para el mañana, y lo hacemos con pasión, dedicación y el firme propósito de hacer realidad tus
        sueños de construcción integral
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="regisImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                HOTEL ST REGIS
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="emeraldBayImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                EMERALD BAY
              </h2>
            </div>
            <h1 class="game_text">
              Nuevo Mazatlán
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="puebloBonitoImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                HOTEL PUEBLO BONITO SUNSET BEACH
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="puebloPacificaImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                HOTEL PUEBLO BONITO PACÍFICA
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="novaHispaniaImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                NOVAISPANIA
              </h2>
            </div>
            <h1 class="game_text">
              At Quivira, Los Cabos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="puebloBonitoSinaloaImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                REMODELACIÓN PUEBLO BONITO
              </h2>
            </div>
            <h1 class="game_text">
              Mazatlán, Sinaloa, México
            </h1>
          </div>
          <div class="col-md-6 mx-auto">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="hotelLeblancImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                HOTEL LE BLANC
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos, BCS
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
