<section class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>RESIDENCIAL CONDOMINIOS</h2>
      </div>
      <p class="long_text">
        <span></span>
        En el corazón de cada proyecto hay una visión, y en DOI nos dedicamos a
        convertir esas visiones en sólidas realidades.
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="vistaMarImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                VISTAMAR
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="alvarImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                RESIDENCIAL ALVAR
              </h2>
            </div>
            <h1 class="game_text">
              At Quivira Los Cabos
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="tramontiImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                RESIDENCIAL TRAMONTI
              </h2>
            </div>
            <h1 class="game_text">
              Los Cabos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="campGolfImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                CASA CLUB CAMPO DE GOLF QUIVIRA
              </h2>
            </div>
            <h1 class="game_text">
              At Quivira, Los Cabos, BCS
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
