<div class="hero_area">
    <div class="hero_bg_box">
        <div class="img-box">
            <img [src]="backgroundSource" alt="imagen">
        </div>
    </div>
    <header class="header_section">
        <div class="header_top" scroll>
            <div class="container-fluid">
                <div class="contact_link-container">
                    <a class="contact_link1">
                        <i class="pi pi-map-marker"></i>
                        <!-- <span>DOI, Los Cabos</span> -->
                        <div class="container">
                            <div class="img-box">
                                <img [src]="logos[0]" alt="Image">
                            </div>
                        </div>
                    </a>
                    <a class="contact_link2">
                        <i class="pi pi pi-phone"></i>
                        <span>Llamanos: Tel (624) 143 06 54 / 143 16 24</span>
                    </a>
                    <a class="contact_link3">
                        <i class="pi pi-envelope"></i>
                        <span>info@doiloscabos.com</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header_bottom" scroll>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container" scroll>
                    <a routerLink="" class="navbar-brand">
                        <span>DOI LOS CABOS</span>
                    </a>
                    <button #navbarTogglerButton
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            (click)="toggleOpacity()">
                        <span class=""></span>
                    </button>
                    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li
                                *ngFor="let menuItem of menuItems"
                                class="nav-item"
                                (click)="closeNavbar()"
                                routerLinkActive="active">
                                    <a class="nav-link" [routerLink]="menuItem.route">
                                        {{ menuItem.label }}
                                    </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section [style.opacity]="contentOpacity" class="content">
        <div  class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </section>
    <app-scroll-top></app-scroll-top>
</div>
<footerComponent></footerComponent>



