<section class="info_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_logo">
                    <a class="navbar-brand" routerLink="">
                        <span> DOI, Los Cabos </span>
                    </a>
                    <p>
                        En cada uno de nuestros proyectos, buscamos contribuír positivamente en nuestro entorno
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_links">
                    <h5> Quizá te interese</h5>
                    <ul>
                        <li>
                            <a routerLink="">Pagina de facebook</a>
                        </li>
                        <li>
                            <a routerLink="">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h5> Contáctanos </h5>
                <div class="info_contact">
                    <a>
                        <i class="pi pi-map-marker" aria-hidden="true"></i>
                        <span>Lázaro Cárdenas 2501 L | Super- 8 El Médano Cabo San Lucas</span>
                    </a>
                    <a>
                        <i class="pi pi-phone" aria-hidden="true"></i>
                        <span> Tel (624) 143 06 54 / 143 08 17</span>
                    </a>
                    <a>
                        <i class="pi pi-envelope" aria-hidden="true"></i>
                        <span>aleyva@doiloscabos.com</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<footer class="container-fluid footer_section">
    <p>
        &copy;
        <span>2023</span>
        Todos los derechos reservados. 
        <!-- Powered by <a href="www.bbinco.com">BBINCO.</a> -->
    </p>
    <br>
</footer>