<section [@fadeAnimation] = "true" class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>MERCADO, CENTROS Y NAVES INDUSTRIALES</h2>
      </div>
      <p class="long_text">
        <span></span>
        La calidad es nuestra firma, la eficiencia nuestro compromiso y la satisfacción del cliente nuestra mayor
        recompensa. En cada proyecto, nos esforzamos por fusionar la creatividad con la funcionalidad, creando ambientes
        que inspiran y perduran en el tiempo.
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="marketSantosImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                MERCADO TODOS SANTOS
              </h2>
            </div>
            <h1 class="game_text">
              Todos Santos, BCS
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="asistenciaSocialImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                CENTRO DE ASISTENCIA SOCIAL
              </h2>
            </div>
            <h1 class="game_text">
            </h1>
          </div>
          <div class="col-md-6 mx-auto">
            <div class="img-flip">
              <galleria-full-screen [imagesUrls]="laundryImages"></galleria-full-screen>
            </div>
            <div class="price_text">
              <h2>
                LAVANDERIA INDUSTRIAL
              </h2>
            </div>
            <h1 class="game_text">
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
