.slider_section {
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: #ffffff;
}

.slider_section .row {
    -webkit-box-align: center;
    align-items: center;
}
.slider_section .detail-box{
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
}

.slider_section .detail-box h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.slider_section .detail-box h1 span {
    color: #8eb83a;
}

.slider_section .detail-box p {
    margin-top: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.slider_section .detail-box .btn-box {
    display: flex;
    margin-top: 30px;
}

.slider_section .detail-box .btn-box .btn-1{
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s;
    border: 1px solid transparent;
}
.slider_section .detail-box .btn-box .btn-1:hover{
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.slider_section .detail-box .btn-box a {
    width: 180px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

.slider_section .detail-box .btn-box .btn-2{
    display: inline-block;
    padding: 10px 35px;
    background-color: #8eb83a;
    color: #ffffff;
    transition: all 0.3s;
    border: 1px solid transparent;
}
.slider_section .detail-box .btn-box .btn-2:hover{
    background-color: transparent;
    border-color: #8eb83a;
    color: #8eb83a;
}

/* RESPONSIVE */
@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-toggler {
    margin-bottom: 15px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    margin: 5px 0;
  }

  .custom_nav-container.navbar-expand-lg .form-inline {
    justify-content: center;
  }

  .custom_nav-container.navbar-expand-lg {
    padding-top: 10px;
    align-items: center;
  }

  .slider_section {
    padding: 45px 0 150px 0;
  }

  .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .slider_section ol.carousel-indicators {
    justify-content: center;
  }

  .slider_section {
    text-align: center;
  }

  .slider_section .img-box {
    margin-top: 35px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about_section .heading_container {
    margin-bottom: 0;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .about_section .detail-box {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }

  .service_section .service_container {
    flex-wrap: wrap;
  }

  .client_section .carousel_btn-box {
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
    margin: 0 2.5px;
  }

  .info_section .row .col-md-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_logo {
    align-items: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .header_top a span {
    display: none;
  }

  .slider_section .detail-box h1 {
    font-size: 2rem;
    line-height: 55px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}