<section [@fadeAnimation] = "true" class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesUs"></galleria>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>¿Quienes somos?</h2>
                    </div>
                    <p>
                        En DOI Los Cabos, creemos en la colaboración estrecha con nuestros clientes,
                        entendiendo sus necesidades y visiones para crear espacios que reflejen su identidad y
                        propósito. Nos esforzamos por establecer relaciones a largo plazo basadas en la confianza mutua
                        y la entrega constante de resultados excepcionales.
                        Explora con nosotros el mundo de las posibilidades arquitectónicas y construye el futuro con
                        DOI.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesVisionMision"></galleria>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>Nosotros</h2>
                    </div>
                    <span>Misión</span>
                    <p>
                        En DOI desarrollamos y construimos proyectos, aplicando la mejor ingeniería de valor
                        satisfaciendo las necesidades y sueños de nuestros clientes.
                    </p>
                    <span>Visión</span>
                    <p>
                        Ser una empresa exitosa, reconocida e innovadora en el desarrollo y construcción de proyectos
                        inmobiliarios y turísticos.
                    </p>
                    <span>Valores</span>

                    <div class="row mx-auto">
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-1 mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[0]" alt="">
                                    <p class="featured-block-text">
                                        Compromiso
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-1 mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[1]" alt="">
                                    <p class="featured-block-text">
                                        Excelencia
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-1 mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[2]" alt="">
                                    <p class="featured-block-text">
                                        Integridad
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-1 mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[3]" alt="">
                                    <p class="featured-block-text">
                                        Lealtad
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-1 mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[4]" alt="">
                                    <p class="featured-block-text">
                                        Respeto
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 mb-4 mx-auto mb-lg-0 hover-grow">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a class="d-block">
                                    <img class="featured-block-image img-fluid" [src]="imagesValores[5]" alt="">
                                    <p class="featured-block-text">
                                        Trabajo Duro
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>Ubicación</h2>
                    </div>
                    <span>Oficina Central</span>
                    <p>
                        Las oficinas centrales de DOI Los Cabos están ubicadas en Lázaro Cárdenas 2501 L | Super- 8
                        El Médano, Cabo San Lucas, Baja California Sur, México.
                        Un punto estratégico que nos permite estar cerca de nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesUbication"></galleria>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
