<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesUs"></galleria>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>¿Quienes somos?</h2>
                    </div>
                    <p>
                        En DOI Los Cabos, creemos en la colaboración estrecha con nuestros clientes,
                        entendiendo sus necesidades y visiones para crear espacios que reflejen su identidad y
                        propósito. Nos esforzamos por establecer relaciones a largo plazo basadas en la confianza mutua
                        y la entrega constante de resultados excepcionales.
                        Explora con nosotros el mundo de las posibilidades arquitectónicas y construye el futuro con
                        DOI.
                        <br>
                        Nuestro equipo de profesionales altamente calificados trabaja incansablemente para ofrecer
                        soluciones integrales que superen las expectativas de nuestros clientes.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesVisionMision"></galleria>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>Misión-Visión</h2>
                    </div>
                    <span>Misión</span>
                    <p>
                        En DOI desarrollamos y construimos proyectos, aplicando la mejor ingeniería de valor
                        satisfaciendo las necesidades y sueños de nuestros clientes.
                    </p>
                    <span>Visión</span>
                    <p>
                        Ser una empresa exitosa, reconocida e innovadora en el desarrollo y construcción de proyectos
                        inmobiliarios y turísticos.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 px-0">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>Ubicación</h2>
                    </div>
                    <span>Oficina Central</span>
                    <p>
                        Las oficinas centrales de DOI Los Cabos están ubicadas en Lázaro Cárdenas 2501 L | Super- 8
                        El Médano, Cabo San Lucas, Baja California Sur, México.
                        Un punto estratégico que nos permite estar cerca de nuestros clientes.
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <galleria class="gallery" [images]="imagesUbication"></galleria>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>