.layout_padding {
    padding-top: 24px;
}

.about_section .row {
    -webkit-box-align: center;
    align-items: center;
}


.about_section .img_container .img-box img {
    width: 100%;
}

.about_section .detail-box {
    background-color: #ffffff;
    padding: 45px 25px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    /* margin-left: -45px; */
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
}

.heading_container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.heading_container h2::before {
    content: "";
    width: 40px;
    height: 7px;
    background-color: #8eb83a;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about_section .detail-box p {
    margin-top: 5px;
}

.heading_container_right {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}

.heading_container_right h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
}

.heading_container_right span {
    color: #8eb83a;
}

.container.second,
.container.third {
    margin-top: 25px;
}

.col-md-6.px-0.second,
.col-md-6.px-0.third {
    position: relative;
    left: 3%;
}

.detail-box span {
    font-weight: bold;
}

.row {
    margin-bottom: 7%;
}

.divider {
    margin: auto;
}

/* Responsive */

@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .hero_area {
        min-height: auto;
    }

    .navbar-nav {
        align-items: center;
    }

    .custom_nav-container .navbar-toggler {
        margin-bottom: 15px;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 10px 25px;
        margin: 5px 0;
    }

    .custom_nav-container.navbar-expand-lg .form-inline {
        justify-content: center;
    }

    .custom_nav-container.navbar-expand-lg {
        padding-top: 10px;
        align-items: center;
    }

    .slider_section {
        padding: 45px 0 150px 0;
    }

    .sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .slider_section ol.carousel-indicators {
        justify-content: center;
    }

    .slider_section {
        text-align: center;
    }

    .slider_section .img-box {
        margin-top: 35px;
    }

    .slider_section .detail-box .btn-box {
        justify-content: center;
        flex-wrap: wrap;
    }

    .about_section .heading_container {
        margin-bottom: 0;
    }

    .about_section .row {
        flex-direction: column-reverse;
    }

    .about_section .detail-box {
        margin-left: 0;
        width: 100%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    }

    .service_section .service_container {
        flex-wrap: wrap;
    }

    .client_section .carousel_btn-box {
        margin-top: 25px;
    }

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        transform: none;
        margin: 0 2.5px;
    }

    .info_section .row .col-md-3 {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .info_section .info_logo {
        align-items: center;
    }

    .info_section .info_form .social_box {
        justify-content: center;
    }

    .info_section .info_form .social_box a {
        margin: 0 5px;
    }
}

@media (max-width: 576px) {
    .header_top a span {
        display: none;
    }

    .slider_section .detail-box h1 {
        font-size: 2.5rem;
        line-height: 55px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}