<section class="product_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="product_text">
                <h2>VIVIENDA RESIDENCIAL</h2>
            </div>
            <p class="long_text">
                <span></span>
                Amamos lo que hacemos, nos gusta trascender en cada proyecto construyendo con la mejor calidad de equipo
                y materiales.
                Convencidos de nuestro potencial le invitamos a conocer algunos de nuestros proyectos
            </p>
            <div class="product_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-flip">
                          <galleria-full-screen [imagesUrls]="tresSantosImages"></galleria-full-screen>
                        </div>
                        <div class="price_text">
                            <h2>
                                DESARROLLO TRES SANTOS
                            </h2>
                        </div>
                        <h1 class="game_text">
                            Todos Santos, Baja California Sur
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="img-flip">
                          <galleria-full-screen [imagesUrls]="monteBelloImages"></galleria-full-screen>
                        </div>
                        <div class="price_text">
                            <h2>
                              RESIDENCIAL MONTEBELLO
                            </h2>
                        </div>
                        <h1 class="game_text">
                          At Quivira
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="img-flip">
                          <galleria-full-screen [imagesUrls]="residence315Images"></galleria-full-screen>
                        </div>
                        <div class="price_text">
                            <h2>
                                RESIDENCIAL 315
                            </h2>
                        </div>
                        <h1 class="game_text">
                            Chileno Bay
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="img-flip">
                          <galleria-full-screen [imagesUrls]="lightHouseImages"></galleria-full-screen>
                        </div>
                        <div class="price_text">
                            <h2>
                              LIGHTHOUSE
                            </h2>
                        </div>
                        <h1 class="game_text">
                            Los Cabos
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="img-flip">
                          <galleria-full-screen [imagesUrls]="copalaImages"></galleria-full-screen>
                        </div>
                        <div class="price_text">
                            <h2>
                              COPALA
                            </h2>
                        </div>
                        <h1 class="game_text">
                            At Quivira
                        </h1>
                    </div>
                    <div class="col-md-6">
                      <div class="img-flip">
                        <galleria-full-screen [imagesUrls]="coronadoImages"></galleria-full-screen>
                      </div>
                      <div class="price_text">
                          <h2>
                            CORONADO
                          </h2>
                      </div>
                      <h1 class="game_text">
                          Los Cabos
                      </h1>
                  </div>
                  <div class="col-md-6">
                    <div class="img-flip">
                      <galleria-full-screen [imagesUrls]="mavilaImages"></galleria-full-screen>
                    </div>
                    <div class="price_text">
                        <h2>
                          MAVILA
                        </h2>
                    </div>
                    <h1 class="game_text">
                        Los Cabos
                    </h1>
                </div>
                <div class="col-md-6">
                  <div class="img-flip">
                    <galleria-full-screen [imagesUrls]="bechClubImages"></galleria-full-screen>
                  </div>
                  <div class="price_text">
                      <h2>
                        BEACH CLUB
                      </h2>
                  </div>
                  <h1 class="game_text">
                      Los Cabos
                  </h1>
              </div>
                </div>
            </div>
        </div>
    </div>
</section>
